bin/
obj/
artifacts/
.vs/
*.user
*.suo
*.nupkg
*.snupkg
TestResults/
appsettings-schema.json
appsettings-schema.Umbraco.Cms.json
umbraco-package-schema.json

# Local secrets and Umbraco runtime data
appsettings.Development.json
App_Data/
umbraco/
media/
logs/
