<div ng-controller="CloudPurge.PurgeActionController">
	<div class="umb-dialog-body form-horizontal" ng-cloak>
		<div class="umb-pane">

			<div ng-if="result != null && result.success == false">
				<div class="alert alert-error">
					<h3>Something went wrong</h3>
					<div><p ng-repeat="(k, error) in result.failMessages">{{error}}</p></div>

					<h3 ng-show="result.failedUrls.length > 0">
						<localize key="cloudpurge_notPurgedUrls"></localize>
					</h3>
					<ul><li ng-repeat="(k, url) in result.failedUrls">{{url}}</li></ul>
				</div>
			</div>

			<div ng-if="result.success">
				<div class="alert alert-success">
					<strong>{{source.name}}</strong>
					<span ng-if="decendants">
						(<localize key="cloudpurge_alongWithDecendants"></localize>)
					</span>
					<localize key="cloudpurge_purged"></localize>
				</div>
				<button class="btn btn-primary" ng-click="closeDialog()">Ok</button>
			</div>

			<p class="abstract" ng-hide="success">
				<localize key="cloudpurge_contentToBePurged"></localize>
				<strong>{{source.name}}</strong>
				<localize key="cloudpurge_alongWithDecendants" ng-if="decendants"></localize>
			</p>

			<umb-loader ng-show="loading"></umb-loader>

			<div ng-hide="success">

				<umb-pane>
					<umb-control-group localize="label" label="@defaultdialogs_includeDescendants">
						<umb-toggle checked="$parent.$parent.decendants" on-click="$parent.$parent.toggleDecendants()"></umb-toggle>
					</umb-control-group>
				</umb-pane>

			</div>
		</div>
	</div>

	<div class="umb-dialog-footer btn-toolbar umb-btn-toolbar" ng-hide="success">
		<a class="btn btn-link" ng-click="closeDialog()" ng-show="!loading">
			<localize key="general_cancel">Cancel</localize>
		</a>
		<button class="btn btn-warning" ng-click="purgeNow()" ng-disabled="loading">
			<localize key="cloudpurge_purge">Purge</localize>
		</button>
	</div>
</div>
