<div ng-controller="CloudPurge.DashboardController">

	<umb-load-indicator ng-if="loading"></umb-load-indicator>

	<umb-box ng-if="!loading">
		<umb-box-content>

			<umb-control-group label="@cloudpurge_enablePublishingHooks" class="umb-toggle-group">

				<div class="umb-toggle-group-item" ng-click="togglePublishHooks()">
					<umb-toggle class="umb-toggle-group-item__toggle"
								checked="config.EnablePublishHooks">
					</umb-toggle>
					<div class="umb-toggle-group-item__content">
						<div class="umb-toggle-group-item__description">
							<localize key="cloudpurge_enablePublishingHooks_Desc"></localize>
						</div>
					</div>
				</div>
			</umb-control-group>

		</umb-box-content>
	</umb-box>
	<umb-box>
		<umb-box-header title="CloudFlare" />
		<umb-box-content>

			<umb-control-group label="@cloudpurge_enable" class="umb-toggle-group">

				<div class="umb-toggle-group-item" ng-click="toggleCloudFlareEnabled()">
					<umb-toggle class="umb-toggle-group-item__toggle"
								checked="config.CloudFlare.Enabled">
					</umb-toggle>
					<div class="umb-toggle-group-item__content">
						<div class="umb-toggle-group-item__description">
							<localize key="cloudpurge_cloudFlare_enable"></localize>
						</div>
					</div>
				</div>
			</umb-control-group>

			<umb-control-group label="@cloudpurge_cloudFlare_emailAddress">
				<input name="EmailAddress"
					   type="text"
					   class="input-block-level"
					   ng-model="config.CloudFlare.EmailAddress"
					   ng-disabled="!config.CloudFlare.Enabled"
					   required />
			</umb-control-group>

			<umb-control-group label="@cloudpurge_cloudFlare_token">
				<input name="Token"
					   type="text"
					   class="input-block-level"
					   ng-model="config.CloudFlare.Token"
					   ng-disabled="!config.CloudFlare.Enabled"
					   required />
			</umb-control-group>

			<umb-control-group label="@cloudpurge_cloudFlare_zoneId">
				<input name="ZoneId"
					   type="text"
					   class="input-block-level"
					   ng-model="config.CloudFlare.ZoneId"
					   ng-disabled="!config.CloudFlare.Enabled"
					   required />
			</umb-control-group>

		</umb-box-content>
	</umb-box>

	<umb-editor-footer>

		<umb-editor-footer-content-right>

			<umb-confirm caption="Purge all now?"
						 ng-if="confirmPurgeNow"
						 on-confirm="purgeNow"
						 confirm-button-style="danger"
						 on-cancel="togglePurgeNow"></umb-confirm>

			<umb-button type="button"
						action="togglePurgeNow()"
						button-style="warning"
						label="Purge"
						label-key="cloudpurge_purgeNow"
						disabled="loading">
			</umb-button>

			<umb-button type="button"
						action="save()"
						button-style="success"
						shortcut="ctrl+s"
						label="Save"
						label-key="buttons_save"
						disabled="loading">
			</umb-button>

		</umb-editor-footer-content-right>


	</umb-editor-footer>

</div>