<?xml version="1.0"?>
<CloudPurgeConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <EnablePublishHooks>false</EnablePublishHooks>
  <ContentFilter>
    <IncludedContentTypes />
    <ExcludedContentTypes />
  </ContentFilter>
  <CloudFlare>
    <Enabled>false</Enabled>
    <EmailAddress />
    <Token />
    <ZoneId />
  </CloudFlare>
</CloudPurgeConfig>